@media(max-width: 992px){
    .container{
      max-width: 768px;
    }
    .head-logo i{
      display: block;
    }
    .head-menu{
      display: none;
    }
    .home-inner{
      flex-wrap: wrap;
    }
    .home-left{
      width: 100%;
      height: 300px;
    }
    .home-right{
      width: 100%;
      margin-top: 30px;
    }

      .topics-container {
        flex-wrap: wrap;
        grid-template-columns: 1fr 1fr;
      }
    
      .topics-item video {
        width: 100%;
        height: 225px;
      }
    
      .topics-item {
        border: 5px solid #fff;
      }

  }
  @media(max-width: 768px){
      .container{
          max-width: 576px;
        }
        .home-left{
          width: 100%;
          height: 300px;
        }
        .home-right{
          width: 100%;
          margin-top: 30px;
        }
        .topics-container {
            grid-template-columns: 1fr;
            flex-wrap: wrap;
        }
        
        .topics-item video {
            width: 100%;
            height: 341px;
        }
        
        .topics-item {
            border: 5px solid #fff;
          }
        
        .topics-item p {
            font-size: 14px;
        }

        .developer {
            flex-direction: column; 
            align-items: center;
        }
        
        .creator {
            width: 100%;
            margin-bottom: 20px; 
        }
        
        .creator img {
            width: 100%;
            max-width: 150px;
        }
           
  }
  @media(max-width: 576px){
      .container{
          max-width: 320px;
        }
  }